body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pointer {
  cursor: pointer;
}

.form-add {
  padding: 10px 5px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
}

.filter-form {
  padding: 10px 5px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
}

.just-validate-error-field {
  border-color: red;
}
